#app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.app-visible {
    opacity: 1;
    transition: opacity 0.5s linear;
}

.app-hidden {
    opacity: 0;
    transition: opacity 0.5s linear;
}

.twitter {
    margin: 7vh 30vw 15vh 30vw;
    font-size: 1.5vh;
}

.user {
    color: lightgray;
}
