.clock {
    position: absolute;
    width: 25%;
    height: 20%;
    right: 5%;
    top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.clock-digits {
    font-size: 10vmin;
}