.welcome {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.welcome-text {
    z-index: 9999;
    font-size: 16vh;
}

.welcome-visible {
    opacity: 1;
    transition: opacity 0.3s linear;
}

.welcome-hidden {
    opacity: 0;
    transition: opacity 1s linear;
}